
.ckw-cird__prelogin-message {
    text-align: center;
}

#ckw-cird__login__facebook {
    background-color: #3b5998;
}

#ckw-cird__login__google {
    background-color: #DB4437;
}

#ckw-cird__login__apple {
    background-color: #333;
}

#ckw-cird__login__sgvf {
    background-color: #03a66a;
}

#ckw-cird__login__microsoft {
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
}

#ckw-cird__login__cirkwi {
    background-color: #0066CC;
}
