{{#if showTitle }}
    <h1 class="ckw-cird__title">{{trans "modifyPassword" }}</h1>
{{/if }}

<div class="ckw-cird__form">

    <div class="ckw-cird__error" data-target="password"></div>
    <label for="ckw-cird__modify-password__password">{{trans "newPassword" }}</label>
    <input class="ckw-cird__input" type="password" id="ckw-cird__modify-password__password" name="password" />

    <div class="ckw-cird__error" data-target="passwordConfirmation"></div>
    <label for="ckw-cird__modify-password__passwordConfirmation">{{trans "confirmPassword" }}</label>
    <input class="ckw-cird__input" type="password" id="ckw-cird__modify-password__passwordConfirmation" name="passwordConfirm" />

    <button class="ckw-cird__submit-button">{{trans "validate" }}</button>
</div>
