{{#if showTitle }}
    <h1 class="ckw-cird__title">{{trans "resetPassword" }}</h1>
{{/if }}

<div class="ckw-cird__form">
    <div class="ckw-cird__error" data-target="email"></div>
    <label for="ckw-cird__reset-password__email">{{trans "email" }}</label>
    <input  class="ckw-cird__input" type="email" id="ckw-cird__reset-password__email" name="email" />

    <button class="ckw-cird__submit-button">{{trans "reset" }}</button>
</div>
